#logo {
  text-align: center; }

.title {
  text-align: center;
  padding: 50px; }
  .title span {
    white-space: nowrap;
    background-color: #10b0c6;
    padding: 3px 13px 3px 13px;
    color: white;
    font-size: 24px; }

.movie {
  text-align: center;
  padding-bottom: 50px; }
  .movie .time {
    background-color: #10b0c6;
    color: white;
    padding: 3px; }
  .movie .movie-title {
    font-size: 24px;
    padding-bottom: 10px; }

@media screen and (max-width: 650px) {
  #logo img {
    width: 350px; }

  .title span {
    font-size: 14px; } }
